# ==============================================================================
# Snowflake Connection Credentials (for local development and execution)
# ==============================================================================

# Your Snowflake account locator (e.g. "xy12345.us-east-2" or organization-account name)
SNOWFLAKE_ACCOUNT=your_account_locator

# Credentials
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password

# Default Active Role
SNOWFLAKE_ROLE=ACCOUNTADMIN

# Compute Warehouse
SNOWFLAKE_WAREHOUSE=ski_gear_s

# Target Database and Schema
SNOWFLAKE_DATABASE=ski_gear_support_db
SNOWFLAKE_SCHEMA=ski_gear_support_schema
